<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

        <style>
            :root {
              font-family: Inter, sans-serif;
              font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
            }
            @supports (font-variation-settings: normal) {
              :root { font-family: InterVariable, sans-serif; }
            }
            * {
                font-family: Inter, sans-serif;
            }
        </style>
    </head>
    <body class="overflow-hidden bg-gray-50 font-sans antialiased">
        <div class="relative mx-auto max-w-7xl">
            <div class="absolute -right-60 -top-44 h-60 w-[36rem] transform-gpu md:right-0 bg-[linear-gradient(115deg,var(--tw-gradient-stops))] from-[#eef2ff] from-[28%] via-[#86efac] via-[60%] to-[#86efac] rotate-[-10deg] rounded-full blur-3xl"></div>
            <div class="absolute -left-60 top-96 h-60 w-[36rem] transform-gpu md:right-0 bg-[linear-gradient(115deg,var(--tw-gradient-stops))] from-[#eef2ff] from-[28%] via-[#86efac] via-[60%] to-[#86efac] rotate-[-10deg] rounded-full blur-3xl"></div>
        </div>
        {% block content %}
        {% endblock content %}
    </body>
</html>
